@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", serif;
  background-color: #0c0c0c;
}

.container {
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form button {
  margin-top: 20px;
  background-color: rgb(213, 135, 250);
  padding: 0.5rem 1.4rem;
}

input[type='text'] {
  padding: 4px;
  font-size: 1rem;
  outline: none;
}

button {
  border: none;
  border-radius: 8px;
  color: whitesmoke;
  font-size: 1.2rem;
  cursor: pointer;
}

.todo-list {
  background-color: whitesmoke;
  border-radius: 6px;
  width: 35dvw;
  height: 100dvh;
  margin-top: 20px;
  padding: 1rem;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.137);
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 6px;
}

img {
  width: 50px;
  display: block;
}

.listBtn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.listBtn button {
  background-color: rgba(227, 229, 233, 0.637);
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.219);
}

.listBtn button:hover {
  background-color: rgb(227, 229, 233);
}

.completed p {
  text-decoration: line-through;
  color: #1df328;
}